- @collection.collection_strings.each do |collection_string|
  - if collection_string.language == @user.language
    = render 'collection_strings/collection_string_information', deck: @deck, collection: @collection, collection_string: collection_string
    - break
  - elsif collection_string.language == @collection.deck.default_language
    = render 'collection_strings/collection_string_information', deck: @deck, collection: @collection, collection_string: collection_string
    - break
