#collection-string-information{'data-controller' => 'collection-string-inline'}
  #collection-click-out{ 'data-action' => 'click->collection-string-inline#cclick' }
    = render 'collection_strings/collection_string_information', deck: @deck, collection: @collection, collection_string: @collection_string
