- members.each_with_index do |member, index|
  - if index > 0
    %tr
      %td
      %td{id: 'user-label'}= member.user_label
      %td{id: 'status'}= member.status
      %td{id: 'read-access', 'data-read' => member.user_group.id}= member.read_access
      %td{id: 'update-access', 'data-update' => member.user_group.id}= member.update_access
