// Define variables for your color scheme

$nav: #24274D;
$deck-nav: #464866;
$side-panel: #e3e4e8;
$back: #f0f1f5;
$card: #FFFFFF;
$tbd: #AAABB8;
$main: #024189;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

