// rendered by collections/show
%h1{id: 'collection-title', 'data-target' => 'collection-string-inline.titleinfo', 'data-action' => 'click->collection-string-inline#cclick' }= collection_string.title
%i{class: "far fa-edit", id: 'collection-edit-button', 'data-toggle' => 'toggle', 'data-placement' => 'right', 'data-target' => 'collection-string-inline.edit', 'data-action' => 'click->collection-string-inline#cclick', title: 'Edit' }
= render 'collection_strings/update_collection_title_des', deck: deck, collection: collection, collection_string: collection_string
%p{id: 'collection-description', 'data-target' => 'collection-string-inline.descriptioninfo', 'data-action' => 'click->collection-string-inline#cclick' }= collection_string.description
