.deck-nav
  %nav{id: 'deck-nav-main', 'data-target'=>'index-scroll.nav' }
    - if user_signed_in?
      .col-4.deck-index-tab#side-panel-column
        %ul
        - if decks_owned.empty? # default to create if user owns no decks
          %li
            .btn-group.btn-group-toggle.radio{'data-toggle'=>'buttons'}
              %label.btn.btn-info.active
                %input{type: "radio", name: "options", id: "search-decks-nav", autocomplete: "off", 'data-target'=>'deck-create.deckSearchInput', 'data-action'=>'click->deck-create#toggleSearchCreate' } Deck Search
              %label.btn.btn-info
                %input{type: "radio", name: "options", id: "create-deck", autocomplete: "off", checked: true, 'data-target'=>'deck-create.createDeckInput', 'data-action'=>'click->deck-create#toggleSearchCreate'} Create Deck
        - else
          %li
            .btn-group.btn-group-toggle.radio{'data-toggle'=>'buttons'}
              %label.btn.btn-info.active
                %input{type: "radio", name: "options", id: "search-decks-nav", autocomplete: "off", checked: true, 'data-target'=>'deck-create.deckSearchInput', 'data-action'=>'click->deck-create#toggleSearchCreate' } Deck Search
              %label.btn.btn-info
                %input{type: "radio", name: "options", id: "create-deck", autocomplete: "off", 'data-target'=>'deck-create.createDeckInput', 'data-action'=>'click->deck-create#toggleSearchCreate'} Create Deck
      .col-8.deck-index-tab#deck-list-column
        %ul
          %li
            .btn-group.btn-group-toggle.radio{'data-toggle'=>'buttons'}
              %label.btn.btn-secondary
                %input{type: "radio", name: "options", id: "all-decks-user", autocomplete: "off", 'data-target'=>'deck-tabs.allDecks' } All Decks
              %label.btn.btn-secondary.active
                %input{type: "radio", name: "options", id: "my-decks-user", autocomplete: "off", checked: true, 'data-target'=>'deck-tabs.myDecks' } My Decks
              %label.btn.btn-secondary
                %input{type: "radio", name: "options", id: "shared-decks-user", autocomplete: "off", 'data-target'=>'deck-tabs.sharedDecks' } Shared Decks
    - else
      .col-4#side-panel-column
        %ul
          %li
            .btn-group.btn-group-toggle.radio{'data-toggle'=>'buttons'}
              %label.btn.btn-info.active
                %input{type: "radio", name: "options", id: "search-decks-nav", autocomplete: "off", checked: true, 'data-target'=>'deck-create.deckSearchInput', 'data-action'=>'click->deck-create#toggleSearchCreate' } Deck Search
      .col-8#deck-list-column
        %ul
          %li
            .btn-group.btn-group-toggle.radio{'data-toggle'=>'buttons'}
              %label.btn.btn-secondary.active
                %input.active{type: "radio", name: "options", id: "all-decks-global", autocomplete: "off", checked: true, 'data-target'=>'deck-tabs.allDecks' } All Decks
              %label.btn.btn-secondary
                = link_to new_user_session_path do
                  %input{type: "radio", name: "options", id: "my-decks-global", autocomplete: "off", 'data-target'=>'deck-tabs.myDecks' } My Decks
              %label.btn.btn-secondary
                = link_to new_user_session_path do
                  %input{type: "radio", name: "options", id: "shared-decks-global", autocomplete: "off", 'data-target'=>'deck-tabs.sharedDecks' } Shared Decks
