.star-div{class: 'd-flex justify-content-center align-items-center text-right'}
  %p 4.5 &nbsp
  %i{class: "fas fa-star stars"}
  %i{class: "fas fa-star stars"}
  %i{class: "fas fa-star stars"}
  %i{class: "fas fa-star stars"}
  %i{class: "far fa-star stars"}
  %p &nbsp
  %p= link_to "(444)", '#'

/ - (1..5).to_a.each_with_index do |value, index| %>
/   - if index < item.rating
/     .i class="fas fa-star stars"
/       - else
/         .i class="far fa-star stars"

