= simple_form_for(category, method: :get, url: shared_decks_path) do |f|
  // TODO: nested collection of categories
  = f.input :name, collection: categories
  = f.submit 'Find cards to review', class: "btn btn-primary"
