#search-bar {
  height: 30vh;
}

.deck-search {
  display: flex;
  flex-direction: column;
}

.deck-search-row-one {
  display: flex;
  justify-content: start;
  align-items: end;

}

.deck-search-tags {

}

.category-select-outer {
  width: 400px;
}

.language-select-outer {
  width: 200px;
}

.tag-select-outer {
  width: 400px;
}

.search-submit {
  height: 50%
}

.choices__list {
  z-index: 100;
}
