#deck-nav-main {
  // background: black;
  top: 166px;
  width: 100%;
  position: fixed;
  display: flex;
}

nav li a {
  color: white;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: $deck-nav;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 100;
}

.fixed-nav nav {
  position: fixed !important;
  box-shadow: 0 5px rgba(0,0,0,0.1)
}

