#deck-side-panel {
  position: relative;
  background-color: $side-panel;
  padding-right: 0;
  padding-left: 0;

}

.fixed {
  position: fixed;

}

#deck-search-form, #deck-create-form {
  padding: 32px;
}

