.my-global-decks {
  display: none;
}

.global-decks {
}

.my-decks {

}

.shared-read-decks {
  display: none;
}

.shared-update-decks {
  display: none;
}

.deck-index-tab {
  padding-left: 0;
  padding-right: 0;
}

.deck-tabs {
  display:flex;
}
