#search-bar {
  height: 30vh;
}

.deck-search {
  display: flex;
  flex-direction: column;
}

.deck-search-row-one {
  display: flex;
  justify-content: space-around;

}

.deck-search-row-two {
  display: flex;
  justify-content: space-around;

}

.deck-search-tags {

}
