#deck-side-panel {
  position: fixed;
  height: 100%;
  background-color: $side-panel;
  padding-right: 0;
  padding-left: 0;
  top: 104px;
}

.fixed {
  position: fixed;

}

#deck-search-form, #deck-create-form {
  padding: 32px;
}

#side-panel-column {
  padding-left: 0;
  padding-right: 0;
}

