#deck-list {
  position: relative;
  top: 224px;
  background-color: $back;
  padding-right: 32px;
  padding-left: 32px;
  margin-left: 33%;
  z-index: 1;
}


.radio {
  display: flex;
  flex-grow: 1;
}

#deck-list-column {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
