#search-bar {
  height: 30vh;
}

.deck-search {
  display: flex;
  flex-direction: column;
}

.deck-search-row-one {
  display: flex;
  justify-content: start;
  align-items: end;

}

.deck-search-tags {

}

.pages-category-select-outer {
  width: 400px;
}

.pages-language-select-outer {
  width: 200px;
}

.pages-tag-select-outer {
  width: 400px;
}

.decks-category-select-outer {
  width: 100%;
}

.decks-language-select-outer {
  width: 100%;
}

.decks-tag-select-outer {
  width: 100%;
}

.search-submit {

}

.choices__list {
  z-index: 100;
}
