.deck-card {
  background-color: $card;
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 0;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

}

.deck-tags {
  list-style-type: none;
}

.deck-row-three {
  display: flex;
  justify-content: space-between;
}


