- if policy(@deck).update?
  = render 'update_deck_form', deck: @deck
- @deck_strings.each do |deck_string|
  %p
  = deck_string.title
  - if policy(deck_string).update?
    = render 'update_deck_string_form', deck_string: deck_string
